body{
    background-color: #d0e3f2;
}


@font-face {
    font-family: "Pictobooth";
    src: url(font/Coiny-Regular.ttf);
}

*{
    font-family: "Pictobooth";
}

header{
    text-align: center;
    color: #243a5f;
    font-size: 30px;
}

h6{
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.frame{
    width: 500px;
    height: 400px;
    outline: 5px solid #5f86a7;
    border-radius: 15px;
}

#leftside, #rightside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

button{
    width: 300px;
    height: 50px;
    background-color: #5f86a7;
    outline: 3px solid #243a5f;
    border-radius: 3px;
    font-size: 25px;
    color: #edf4fa;
    transition: transform 0.1s ease;
}

button:hover{
    transform: scale(1.03);
}

footer{
    text-align: center;
    margin-top: 75px;
}